<%- include("../layouts/admin_layouts/admin_header.ejs") -%>

    <%- include("../layouts/admin_layouts/admin_asidenav.ejs") -%>


        <main class="main-wrap">
            <%- include("../layouts/admin_layouts/admin_topnav.ejs") -%>

                <section class="content-main">
                    <div class="col-6 mx-auto">
                        <h1> !!! A D M I N - T E S T !!!</h1>
                    </div>

                </section> <!-- content-main end// -->

                <%- include("../layouts/admin_layouts/admin_footer.ejs") -%>