<%- include("../layouts/user_layouts/user_header.ejs") -%>


<%if (typeof user !=='undefined' && user ) { %>
<%- include("../layouts/user_layouts/user_topnav.ejs") -%>
<% }else{ %>
<%- include("../layouts/user_layouts/user_login_topnav.ejs") -%>
<% } %>

<main class="main single-page">
  <section class="section-padding">
    <div class="container pt-25">
      <div class="row">
        <div class="col-lg-6 align-self-center mb-lg-0 mb-4">
          <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">Our Company</h6>
          <h1 class="font-heading mb-40">
            Your Ultimate Destination for Miniature Diecast Cars
          </h1>
          <p>
            Discover the world of precision, passion, and perfection with our exclusive collection of diecast scale model cars. Whether you're a dedicated collector or just starting your journey, we bring the thrill of automotive craftsmanship right to your hands.
          </p>
          <p>
            From iconic classics to modern marvels, each model is a tribute to engineering excellence, designed to captivate and inspire. Explore our diverse range, find your dream car in miniature form, and let your collection tell a story of style and sophistication.
          </p>
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-center ">
          <img src="/public/assets/Logo-diecastcarz.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <section id="team" class="pt-25 wow fadeIn animated">
    <div class="container">
      <div class="row mb-50 align-items-center">
        <div class="col-md-6">
          <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">Our Team</h6>
          <h2 class="mb-15 wow fadeIn animated">Driven by Passion, Powered by Expertise</h2>
          <p class="text-grey-3 wow fadeIn animated">
            Meet the creative minds and skilled hands behind our exceptional diecast models. Our team is united by a love for automobiles and a commitment to delivering perfection, ensuring every miniature tells a story of craftsmanship and authenticity.
          </p>
        </div>

      </div>

    </div>
  </section>

  <section id="testimonials" class="section-padding">
    <div class="container pt-25">
      <div class="row mb-50">
        <div class="col-lg-12 col-md-12 text-center">
          <h6 class="mt-0 mb-10 text-uppercase text-brand font-sm wow fadeIn animated">Our Happy Clients</h6>
          <h2 class="mb-15 text-grey-1 wow fadeIn animated">See What<br> Collectors Say About Us</h2>
          <p class="w-50 m-auto text-grey-3 wow fadeIn animated">
            We take pride in bringing joy to diecast model collectors around the world. Here’s what our satisfied customers have to say about their experiences with our premium collection.
          </p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-4">
          <div class="hero-card box-shadow-outer-6 wow fadeIn animated mb-20 hover-up d-flex">

            <div class="pl-30">
              <h5 class="mb-5 fw-500">J. Bezos</h5>
              <p class="font-sm text-grey-5">Diecast Enthusiast</p>
              <p class="text-grey-3">"The attention to detail is incredible! Each model feels like a masterpiece, and the service was top-notch. Highly recommended!"</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="hero-card box-shadow-outer-6 wow fadeIn animated mb-30 hover-up d-flex">

            <div class="pl-30">
              <h5 class="mb-5 fw-500">B. Gates</h5>
              <p class="font-sm text-grey-5">Collector Extraordinaire</p>
              <p class="text-grey-3">"Every model I purchased exceeded my expectations. The packaging, quality, and overall experience were perfect."</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="hero-card box-shadow-outer-6 wow fadeIn animated mb-30 hover-up d-flex">

            <div class="pl-30">
              <h5 class="mb-5 fw-500">B. Meyers</h5>
              <p class="font-sm text-grey-5">Automotive Model Fan</p>
              <p class="text-grey-3">"As a lifelong collector, finding a store with such an amazing variety and quality was a dream come true!"</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section>
    <figure class="d-flex justify-content-center pb-20">
      <img src="/public/assets/imgs/banner/bg1.jpg" alt="bg1" style="width: 70%;height: 70%;">
    </figure>
  </section>

</main>


<%- include("../layouts/user_layouts/user_footer.ejs") -%>