<%- include("../layouts/user_layouts/user_header.ejs") -%>
<%if (typeof user !=='undefined' && user ) { %>
    <%- include("../layouts/user_layouts/user_topnav.ejs") -%>
    <% }else{ %>
    <%- include("../layouts/user_layouts/user_login_topnav.ejs") -%>
    <% } %>
<main class="main">
    
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                        <div class="single-header style-2">
                            <h2>Terms of Service</h2>
                            <div class="entry-meta meta-1 font-xs mt-15 mb-15">
                                <span class="post-on has-dot">Last Updated : 11 December 2024</span>
                                
                            </div>
                        </div>
                        
                        <div class="single-content">
                            <p>Welcome to DIECASTCARZ! Please read these Terms of Service (“Terms”) carefully before accessing or using the website <a href="https://diecastcarz.shop">https://diecastcarz.shop</a> (the “Service”), operated by DIECASTCARZ (“us,” “we,” or “our”).</p>
                            <p>By accessing or using the Service, you agree to comply with and be bound by these Terms. These Terms apply to all visitors, users, and customers who interact with the Service. If you disagree with any part of these Terms, please refrain from using the Service.</p>
                            <h4>Rights & Restrictions</h4>
                            <ol>
                                <li>You must be at least 15 years old to use our Service.</li>
                                <li>Your purchase grants you a limited, non-exclusive, revocable, non-transferable right to access the content and services provided on DIECASTCARZ.</li>
                                <li>All products displayed on the website, including scale models and accessories, are subject to availability. Prices and product details may change without prior notice.</li>
                                <li>All images, descriptions, and content provided on DIECASTCARZ are for informational purposes and may not perfectly represent the actual product.</li>
                                <li>Unauthorized use, reproduction, or resale of content, images, or other materials on the website is strictly prohibited.</li>
                            </ol>
                            <h4>Links to Third-Party Websites</h4>
                            <p>Our Service may include links to third-party websites or services that are not owned or controlled by DIECASTCARZ. These links are provided solely for your convenience.</p>
                            <p>DIECASTCARZ assumes no responsibility for the content, privacy policies, or practices of any third-party websites or services. You acknowledge and agree that DIECASTCARZ is not liable for any damage or loss caused by reliance on such content or services.</p>
                            <p>We encourage you to review the terms and privacy policies of any third-party websites you visit.</p>
                            <h4>Termination</h4>
                            <p>We reserve the right to suspend or terminate your access to our Service immediately, without prior notice, for any reason, including a breach of these Terms.</p>
                            <p>Upon termination, all provisions of these Terms that should survive termination, including ownership, warranty disclaimers, indemnities, and limitations of liability, will remain in effect.</p>
                            <h4>Governing Law</h4>
                            <p>These Terms shall be governed by and construed in accordance with the laws of [Your Country/State], without regard to its conflict of law provisions.</p>
                            <p>Failure to enforce any provision of these Terms shall not be considered a waiver of rights. If any provision is deemed invalid or unenforceable by a court, the remaining provisions will remain in effect.</p>
                            <h4>Changes</h4>
                            <p>DIECASTCARZ reserves the right to modify or replace these Terms at any time. We will provide at least 30 days' notice if changes are material. What constitutes a material change will be determined at our sole discretion.</p>
                            <p>By continuing to use our Service after revisions become effective, you agree to be bound by the updated Terms. If you do not agree, please stop using the Service.</p>
                            <h4>Contact Us</h4>
                            <p>If you have any questions about these Terms, please <a href="contact_page">contact us</a>.</p>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</main>

<%- include("../layouts/user_layouts/user_footer.ejs") -%>
